<h1>User Profile</h1>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">
          <%= @user.name %>
        </h2>
        <p> <%= @user.email %> </p>
        <h2>Items</h2>
        <% if @items %>
        <div class='js-items'>
          <%= render partial: 'items/item', collection:@items%>
        </div>
        <% end %>
        <%if policy(@items.new).create? %>
        <div class='new-item'>
          <%= render partial:'items/form', locals:{user: @user} %>
        </div>
        <% end %>
        <div >
      </div>
    </div>
  </div>
</div>
